SynPSG/ChronoTrack/VSSolutions/ChronoMobile/Web References/ChronoTrackWS/RemoteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ChronoTrack.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://ChronoTrack.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ChronoTrack.org/">
      <s:element name="ProjectTableLayout">
        <s:complexType />
      </s:element>
      <s:element name="ProjectTableLayoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProjectTableLayoutResult" type="tns:Project" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Project">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Synergygrfa" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Project_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contract_id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Contract_project_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Start_date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="End_date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Current_status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Lead_consultant" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Coordinator" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Approved_by_first" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Approved_by_last" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Approved_date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Approval_location" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Work_location_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Replication_key" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ProjectCombinedTableLayout">
        <s:complexType />
      </s:element>
      <s:element name="ProjectCombinedTableLayoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProjectCombinedTableLayoutResult" type="tns:Project_combined" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Project_combined">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Project_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_location" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_contact" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contact_phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Start_date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="End_date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Current_status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Consultant_full_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Coordinator_full_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ValidationDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidationDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidationDetailsResult" type="tns:ValidateUserResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ValidateUserResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CallStatus" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DisconnectDetails">
        <s:complexType />
      </s:element>
      <s:element name="DisconnectDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DisconnectDetailsResult" type="tns:DisconnectResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DisconnectResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponse" />
        </s:complexContent>
      </s:complexType>
      <s:element name="ScheduleDetails">
        <s:complexType />
      </s:element>
      <s:element name="ScheduleDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ScheduleDetailsResult" type="tns:UserScheduleResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserScheduleResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="UserScheduleTable">
                <s:complexType>
                  <s:sequence>
                    <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                    <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                  </s:sequence>
                </s:complexType>
              </s:element>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="RequestDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="resource" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestDetailsResult" type="tns:RequestResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="RequestDataTable">
                <s:complexType>
                  <s:sequence>
                    <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                    <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                  </s:sequence>
                </s:complexType>
              </s:element>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ProjectDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customer" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="consultant" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="tns:ProjectStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="ProjectStatus">
        <s:restriction base="s:string">
          <s:enumeration value="All" />
          <s:enumeration value="Created" />
          <s:enumeration value="Quoted" />
          <s:enumeration value="Signed" />
          <s:enumeration value="Implementation" />
          <s:enumeration value="PostProject" />
          <s:enumeration value="Completed" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ProjectDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProjectDetailsResult" type="tns:ProjectResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProjectResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ProjectDataTable">
                <s:complexType>
                  <s:sequence>
                    <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                    <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                  </s:sequence>
                </s:complexType>
              </s:element>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ProjectSummaryDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultant" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProjectSummaryDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProjectSummaryDetailsResult" type="tns:ProjectSummaryResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProjectSummaryResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ProjectDataTableCombined">
                <s:complexType>
                  <s:sequence>
                    <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                    <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                  </s:sequence>
                </s:complexType>
              </s:element>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ProjectNotesCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="projectID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProjectNotesCreateResponseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProjectNotesCreateResponseResult" type="tns:BaseResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProjectNoteDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="projectID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProjectNoteDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProjectNoteDetailsResult" type="tns:ProjectNotesResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProjectNotesResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ProjectNotesDataTable">
                <s:complexType>
                  <s:sequence>
                    <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                    <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                  </s:sequence>
                </s:complexType>
              </s:element>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProjectTableLayoutSoapIn">
    <wsdl:part name="parameters" element="tns:ProjectTableLayout" />
  </wsdl:message>
  <wsdl:message name="ProjectTableLayoutSoapOut">
    <wsdl:part name="parameters" element="tns:ProjectTableLayoutResponse" />
  </wsdl:message>
  <wsdl:message name="ProjectCombinedTableLayoutSoapIn">
    <wsdl:part name="parameters" element="tns:ProjectCombinedTableLayout" />
  </wsdl:message>
  <wsdl:message name="ProjectCombinedTableLayoutSoapOut">
    <wsdl:part name="parameters" element="tns:ProjectCombinedTableLayoutResponse" />
  </wsdl:message>
  <wsdl:message name="ValidationDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:ValidationDetails" />
  </wsdl:message>
  <wsdl:message name="ValidationDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:ValidationDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="DisconnectDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:DisconnectDetails" />
  </wsdl:message>
  <wsdl:message name="DisconnectDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:DisconnectDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ScheduleDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:ScheduleDetails" />
  </wsdl:message>
  <wsdl:message name="ScheduleDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:ScheduleDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="RequestDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:RequestDetails" />
  </wsdl:message>
  <wsdl:message name="RequestDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:RequestDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ProjectDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:ProjectDetails" />
  </wsdl:message>
  <wsdl:message name="ProjectDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:ProjectDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ProjectSummaryDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:ProjectSummaryDetails" />
  </wsdl:message>
  <wsdl:message name="ProjectSummaryDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:ProjectSummaryDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ProjectNotesCreateResponseSoapIn">
    <wsdl:part name="parameters" element="tns:ProjectNotesCreateResponse" />
  </wsdl:message>
  <wsdl:message name="ProjectNotesCreateResponseSoapOut">
    <wsdl:part name="parameters" element="tns:ProjectNotesCreateResponseResponse" />
  </wsdl:message>
  <wsdl:message name="ProjectNoteDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:ProjectNoteDetails" />
  </wsdl:message>
  <wsdl:message name="ProjectNoteDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:ProjectNoteDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="RemoteServiceSoap">
    <wsdl:operation name="ProjectTableLayout">
      <wsdl:input message="tns:ProjectTableLayoutSoapIn" />
      <wsdl:output message="tns:ProjectTableLayoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProjectCombinedTableLayout">
      <wsdl:input message="tns:ProjectCombinedTableLayoutSoapIn" />
      <wsdl:output message="tns:ProjectCombinedTableLayoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <wsdl:input name="ValidationDetails" message="tns:ValidationDetailsSoapIn" />
      <wsdl:output name="ValidationDetails" message="tns:ValidationDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input name="DisconnectDetails" message="tns:DisconnectDetailsSoapIn" />
      <wsdl:output name="DisconnectDetails" message="tns:DisconnectDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserSchedule">
      <wsdl:input name="ScheduleDetails" message="tns:ScheduleDetailsSoapIn" />
      <wsdl:output name="ScheduleDetails" message="tns:ScheduleDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Requests">
      <wsdl:input name="RequestDetails" message="tns:RequestDetailsSoapIn" />
      <wsdl:output name="RequestDetails" message="tns:RequestDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Projects">
      <wsdl:input name="ProjectDetails" message="tns:ProjectDetailsSoapIn" />
      <wsdl:output name="ProjectDetails" message="tns:ProjectDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProjectSummary">
      <wsdl:input name="ProjectSummaryDetails" message="tns:ProjectSummaryDetailsSoapIn" />
      <wsdl:output name="ProjectSummaryDetails" message="tns:ProjectSummaryDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateProjectNote">
      <wsdl:input name="ProjectNotesCreateResponse" message="tns:ProjectNotesCreateResponseSoapIn" />
      <wsdl:output name="ProjectNotesCreateResponse" message="tns:ProjectNotesCreateResponseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProjectNotes">
      <wsdl:input name="ProjectNoteDetails" message="tns:ProjectNoteDetailsSoapIn" />
      <wsdl:output name="ProjectNoteDetails" message="tns:ProjectNoteDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RemoteServiceSoap" type="tns:RemoteServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProjectTableLayout">
      <soap:operation soapAction="http://ChronoTrack.org/ProjectTableLayout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProjectCombinedTableLayout">
      <soap:operation soapAction="http://ChronoTrack.org/ProjectCombinedTableLayout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <soap:operation soapAction="http://ChronoTrack.org/ValidationDetails" style="document" />
      <wsdl:input name="ValidationDetails">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ValidationDetails">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap:operation soapAction="http://ChronoTrack.org/DisconnectDetails" style="document" />
      <wsdl:input name="DisconnectDetails">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DisconnectDetails">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSchedule">
      <soap:operation soapAction="http://ChronoTrack.org/ScheduleDetails" style="document" />
      <wsdl:input name="ScheduleDetails">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ScheduleDetails">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Requests">
      <soap:operation soapAction="http://ChronoTrack.org/RequestDetails" style="document" />
      <wsdl:input name="RequestDetails">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RequestDetails">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Projects">
      <soap:operation soapAction="http://ChronoTrack.org/ProjectDetails" style="document" />
      <wsdl:input name="ProjectDetails">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ProjectDetails">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProjectSummary">
      <soap:operation soapAction="http://ChronoTrack.org/ProjectSummaryDetails" style="document" />
      <wsdl:input name="ProjectSummaryDetails">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ProjectSummaryDetails">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProjectNote">
      <soap:operation soapAction="http://ChronoTrack.org/ProjectNotesCreateResponse" style="document" />
      <wsdl:input name="ProjectNotesCreateResponse">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ProjectNotesCreateResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProjectNotes">
      <soap:operation soapAction="http://ChronoTrack.org/ProjectNoteDetails" style="document" />
      <wsdl:input name="ProjectNoteDetails">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ProjectNoteDetails">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RemoteServiceSoap12" type="tns:RemoteServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProjectTableLayout">
      <soap12:operation soapAction="http://ChronoTrack.org/ProjectTableLayout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProjectCombinedTableLayout">
      <soap12:operation soapAction="http://ChronoTrack.org/ProjectCombinedTableLayout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <soap12:operation soapAction="http://ChronoTrack.org/ValidationDetails" style="document" />
      <wsdl:input name="ValidationDetails">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ValidationDetails">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://ChronoTrack.org/DisconnectDetails" style="document" />
      <wsdl:input name="DisconnectDetails">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DisconnectDetails">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSchedule">
      <soap12:operation soapAction="http://ChronoTrack.org/ScheduleDetails" style="document" />
      <wsdl:input name="ScheduleDetails">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ScheduleDetails">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Requests">
      <soap12:operation soapAction="http://ChronoTrack.org/RequestDetails" style="document" />
      <wsdl:input name="RequestDetails">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RequestDetails">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Projects">
      <soap12:operation soapAction="http://ChronoTrack.org/ProjectDetails" style="document" />
      <wsdl:input name="ProjectDetails">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ProjectDetails">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProjectSummary">
      <soap12:operation soapAction="http://ChronoTrack.org/ProjectSummaryDetails" style="document" />
      <wsdl:input name="ProjectSummaryDetails">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ProjectSummaryDetails">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProjectNote">
      <soap12:operation soapAction="http://ChronoTrack.org/ProjectNotesCreateResponse" style="document" />
      <wsdl:input name="ProjectNotesCreateResponse">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ProjectNotesCreateResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProjectNotes">
      <soap12:operation soapAction="http://ChronoTrack.org/ProjectNoteDetails" style="document" />
      <wsdl:input name="ProjectNoteDetails">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ProjectNoteDetails">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RemoteService">
    <wsdl:port name="RemoteServiceSoap" binding="tns:RemoteServiceSoap">
      <soap:address location="http://192.168.1.200/ChronoTrackWS/RemoteService.asmx" />
    </wsdl:port>
    <wsdl:port name="RemoteServiceSoap12" binding="tns:RemoteServiceSoap12">
      <soap12:address location="http://192.168.1.200/ChronoTrackWS/RemoteService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>